@model IList<Data.Color>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container wrapper">
    <table class="highlight centered wrapper">
        <thead>
            <br />
            <div class="center">
                <a href="/Color/Create" class="waves-effect waves-light btn"><i class="material-icons left">palette</i>Crear Color</a>
            </div>
            <tr>
                <th>ID</th>
                <th>Color</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Color in Model)
            {
                <tr>
                    <td>@Color.ColorId</td>
                    <td>@Color.ColorDescription</td>
                    <td><a href="/Color/Edit/@Color.ColorId"><i class="small material-icons">mode_edit</i></a></td>
                    <td><a href="/Color/Delete/@Color.ColorDescription"><i class="small material-icons">delete</i></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

