@model Data.Line
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

Esta seguro que desea eliminar el tipo de entrega @Model.LineDescription?

<a href="/Line/DeleteConfirmation/@Model.LineId" class="waves-effect waves-light btn col s6">Eliminar</a>
<a href="/Line/Index" class="waves-effect waves-light btn col s6">Cancelar</a>