@model Data.StockStatus
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container wrapped">
    <div class="row wrapper">
        <form class="col s12" action="/StockStatus/Create" method="post">
            <br />
            <div class="row">
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.StockStatusDescription)
                    @Html.LabelFor(x => x.StockStatusDescription)
                </div>
                <div class="input-field col s3">
                    <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">save</i>Guardar estado</button>
                </div>
            </div>
        </form>
    </div>
</div>
