@model Data.Categorie
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <div class="row wrapper">
        <form class="col s12" action="/Categorie/Create" method="post">
            <br />
            @Html.HiddenFor(x => x.CategorieId)
            <div class="row">
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.CategorieDescription)
                    @Html.LabelFor(x => x.CategorieDescription)
                </div><div class="input-field col s3">
                    <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">save</i>Guardar producto</button>
                </div>
            </div>
        </form>
    </div>
</div>

