@model IList<Data.PublicationStatus>
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <table class="highlight centered">
        <br />
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo de publicación</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var publicationStatus in Model)
            {
                <tr>
                    <td>@publicationStatus.Id</td>
                    <td>@publicationStatus.Status</td>
                    <td><a href="/PublicationStatus/Edit/@publicationStatus.Id"><i class="small material-icons">mode_edit</i></a></td>
                    <td><a href="/PublicationStatus/Delete/@publicationStatus.Id"><i class="small material-icons">delete</i></a></td>
                </tr>
             }
        </tbody>
    </table>
</div>