@model Data.Dispatch
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container">
    <div class="row">
        <form class="col s12" action="/Dispatch/Create" method="post">
            <br />
            @Html.HiddenFor(x => x.Id)
            <div class="row">
                <div class="input-field col s3">
                    @Html.EditorFor(x => x.DispatchType)
                    @Html.LabelFor(x => x.DispatchType)
                </div>
                <div class="input-field col s3">
                    <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">save</i>Guardar tipo de despacho</button>
                </div>
            </div>
        </form>
    </div>
</div>