@model Data.Dispatch
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

Esta seguro que desea eliminar el tipo de entrega @Model.DispatchType?

<a href="/Dispatch/DeleteConfirmation/@Model.Id" class="waves-effect waves-light btn col s6">Eliminar</a>
<a href="/Dispatch/Index" class="waves-effect waves-light btn col s6">Cancelar</a>