@model Data.Dispatch
@{
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<div class="container wrapper">
    <div class="row wrapper">
        <form class="col s12" action="/Dispatch/Edit" method="post">
            <br />
            @Html.HiddenFor(x => x.DispatchId)
            <div class="row">
                <div class="row">
                    <div class="input-field col s3">
                        @Html.EditorFor(x => x.DispatchDescription)
                        @Html.LabelFor(x => x.DispatchDescription)
                    </div>
                    <div class="input-field col s3">
                        <button type="submit" class="waves-effect waves-light btn col s6"><i class="material-icons left">save</i>Editar punto de entrega</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>